<%= turbo_frame_tag dom_id(dyna_form) do %>
  <div class="card card-body">
    <h4><%= dyna_form.title%></h4>
    <p>
      <%= dyna_form.description %>
    </p>
      <div class="button-row-container">
        <%= button_to "Delete", {action: :destroy, id: dyna_form.id, controller: :dyna_forms}, {class: "button-row", method: :delete} %>
        <%= button_to "See details", {action: :details, id: dyna_form.id, controller: :dyna_forms}, {class: "button-row"} %>
      </div>
  </div>
<% end %>
