<%= form_for user, as: :user, url: signup_url do |f|%>
  <div class="card card-body">
    <div class="form-group">
      <% invalid = user.errors.include?(:email) %>
      <%= f.label :email, class: 'input-title' %>
      <%= f.text_field :email, class: "form-control #{'is-invalid' if invalid}" %><br>
      <% if invalid %>
        <div class="text-danger post-input-hint">
          <%= user.errors.full_messages_for(:email).map { |e| "#{e}." }.join(' ') %>
        </div>
      <% end %>
    </div>

    <div class="form-group">
      <% invalid = user.errors.include?(:password) %>
      <%= f.label :password, class: 'input-title' %>
      <%= f.password_field :password, class: "form-control #{'is-invalid' if invalid}" %><br>
      <% if invalid %>
        <div class="text-danger post-input-hint">
          <%= user.errors.full_messages_for(:password).map { |e| "#{e}." }.join(' ') %>
        </div>
      <% end %>
    </div>

    <div class="form-group">
      <% invalid = user.errors.include?(:password_confirmation) %>
      <%= f.label :password_confirmation, class: 'input-title' %>
      <%= f.password_field :password_confirmation, class: "form-control #{'is-invalid' if invalid}" %><br>
      <% if invalid %>
        <div class="text-danger post-input-hint">
          <%= user.errors.full_messages_for(:password_confirmation).map { |e| "#{e}." }.join(' ') %>
        </div>
      <% end %>
    </div>
    <%= f.submit %>
  </div>
<%end%>
