<!DOCTYPE html>
<html>
  <head>
    <title>Dynaform</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= turbo_include_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand">DynaForm</a>
        <div class="navbar">
          <div class="navbar-nav ms-auto">
            <% if Current.user %>
              <div class="nav-item">
                <%= button_to "Logout", logout_url, class: 'form-control', method: :delete %>
              </div>
            <% else %>
              <div class="nav-item px-3">
                <%= button_to "Login", login_url, class: 'form-control nav-item', method: :get %>
              </div>
              <div class="nav-item">
                <%= button_to "Sign up", signup_url, class: 'form-control nav-item', method: :get %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </nav>
    <% if Current.session %>
      <%= turbo_stream_from dom_id(Current.session) %>
      <%= turbo_frame_tag dom_id(Current.session) do %>
        <div></div>
        <%= render partial: "flash_message" %>
      <% end %>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
