<!DOCTYPE html>
<html>
  <head>
    <title>Dynaform</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= turbo_include_tags %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light justify-content-between">
      <div class="container">
        <a class="navbar-brand">&nbsp;</a>
        <%= button_to "Logout", logout_url, class: 'form-control', method: :delete if Current.user %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
